<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap" rel="stylesheet">
    <title>vue-todo list</title>
  </head>
  <body>

    <div id="root">

      <img src="img/logo.png" alt="">

      <div class="input-container">
        <input class="input-text" type="text" v-model="input" placeholder="Nuovo Todo..."  @keyup.enter="submit">
        <button @click="submit">Aggiungi</button>
      </div>

      <div class="list-container" v-if="arrayInput.length > 0">
        <div class="list" v-for="(element, index) in arrayInput">
          {{element}}
          <i class="fa fa-times" aria-hidden="true" @click="clickFunction(index)"></i>
        </div>
      </div>

    </div>

    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
